<?xml version='1.0' encoding='utf-8'?>
<plugin id="ios-prevent-thirdparty-keyboard" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>ios-prevent-thirdparty-keyboard</name>

    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ios-prevent-thirdparty-keyboard">
                <param name="ios-package" value="ios-prevent-thirdparty-keyboard" />
            </feature>
        </config-file>
        <header-file src="src/ios/AppDelegate+customkeyboards.h" />
        <source-file src="src/ios/AppDelegate+customkeyboards.m" />
    </platform>
</plugin>